.Background{
    background-image: url(./Assets/Background.svg);
    width: 100%;
    height: 100vh;
}

@media (min-width: 576px){
    .Background{
        background-image: url(./Assets/Background.svg);
        width: 100%;
        height: 100vh;
    }
}

@media (min-width: 768px){
    
}

@media (min-width: 992px){
    
}